{% extends 'base.html' %}

{% block title %}甲型流感{% endblock %}
{% block head %}
    <script type="module" src="{{ url_for('static', filename='js/model-viewer.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col">
                            <div class="row" style="text-align: center;padding-top: 20px;">
                                <div class="col"><a href="#" style="padding: 10px;">3D模型</a></div>
                                <div class="col"><a href="#" style="padding: 10px;">横截面</a></div>
                                <div class="col"><a href="#" style="padding: 10px;">复制周期</a></div>
                            </div>
                            <div class="row d-flex align-items-center justify-content-center" style="padding-top: 20px;">
                                <model-viewer
                                        src="{{ url_for('static', filename='assets/model/influenza_virus/scene.gltf') }}"
                                        shadow-intensity="1"
                                        poster="path/to/poster.png"
                                        camera-controls
                                        auto-rotate
                                        background-color="#345678"
                                        style="width:800px;height:600px;"
                                ></model-viewer>
                            </div>
                        </div>
                        <div class="col">
                            <h1 style="padding-top: 20px;">甲型流感病毒</h1>
                            <p>与其他类型的流感病毒相同，属于正粘病毒（<em>Orthomyxoviridae</em>）科。具有球形或长方形的包膜，包膜颗粒直径约100纳米。分段式(-)ssRNA基因组大约13500bp，由八个片段组成。能够感染鸟类和哺乳动物，包括人和猪。每年都要为新的季节性亚型生产疫苗。
                            </p>
                            <p>
                                共有四种流感病毒（A、B、C、D），它们在引起的症状的严重程度和宿主范围方面有所不同。甲型和乙型流感病毒几乎每年冬天都会在世界范围内引起流感（也称为流感）的爆发。流感病毒的主要类型又分为不同的品种，称为亚型。<br>甲型流感病毒的基因组是分段式的，这意味着它们的基因组有多个独立的部分，相互之间没有连接。当两个或更多的流感病毒感染一个细胞时，它们的基因组片段可以重新排列，产生一个新的片段组合，从而产生一个新的病毒亚型。每年，不同的甲型流感病毒亚型会感染人类，导致流感的季节性爆发。有时，会出现危险的亚型，如2009年H1N1大流行性流感，也叫猪流感。这种亚型有来自人类、禽类和猪类流感病毒的基因组片段的组合。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}
