<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Banner-Heading-Image-images.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Lightbox-Gallery-baguetteBox.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-With-Button-icons.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/minilogo.svg') }}">
    {% block head %}{% endblock %}
</head>
<body style="background-color: #f3f3f3">
<nav class="navbar navbar-light navbar-expand-md py-3" style="background-color: #ffffff;">
    <div class="container">

        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/img/logo.svg') }}" alt="Logo" width="60" height="60"
                 class="d-inline-block align-text-center">
            甲流研究星球
        </a>
        <!--
        <div class="row">
            <div class="column">
                <img src="{{ url_for('static', filename='assets/img/logo.svg') }}" alt="logo" width="30"
                     height="30">
            </div>
            <div class="column">
                <a class="navbar-brand d-flex align-items-center"
                   href="{{ url_for('home') }}">
                    <span>甲流研究星球</span>
                </a>
            </div>
-->

        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('home') }}">首页</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('upload') }}">上传&分析</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('database') }}">基因序列数据库</a></li>
                <li class="nav-item"><a class="nav-link" href="https://nextstrain.org/influenza/">流行病学数据库(nextrain.org)</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">关于我们</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>