{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H10N8病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h10n8.jpeg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H10N8流感病毒是一种禽流感病毒，首次于2013年在中国江西省发现。该病毒属于A型流感病毒，表面的糖蛋白质包括血凝素(H)和神经氨酸酶(N)，其中H10为血凝素亚型，N8为神经氨酸酶亚型。这种病毒可以通过飞沫或者直接接触感染家禽和野生鸟类，也可以感染人类。目前关于H10N8流感病毒对人类的影响还在研究中，但已有报道称该病毒感染人类的症状包括发热、呼吸道症状和肺炎等，并且已有一些病例报告。尽管目前该病毒对人类的传播和致死率较低，但仍应引起足够的重视和科学防范。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    和其他流感病毒一样，H10N8流感病毒也会不断地发生变异。这些变异可能会导致病毒的传播和毒力发生改变，对人类健康造成威胁。<br>
                                    迄今为止，H10N8流感病毒已经发生了一些变异。一些研究已经指出，一些变异可能影响病毒与宿主细胞进行交互的方式，使病毒更容易感染人类。同时，研究人员也已经证实，H10N8病毒与其他流感病毒之间发生了基因交换(重配)，从而产生了新的亚型或变异株。这些变异可能会使得H10N8病毒的致病性和传播能力发生改变，对人类健康造成额外威胁。<br>
                                    因此，对于这种变异的流感病毒，疾病控制和预防部门必须密切关注其演变，及时采取相应的措施以保护公共卫生。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapse" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H10N8流感病毒的进化模式主要是通过基因变异和基因重组来不断演化和进化。<br>
                                    基因变异是在复制过程中，由于复制机制的错误，导致病毒基因组中的核酸序列发生变化。这种变异可以在病毒种群中不断积累，产生不同的变异株，从而使得病毒对宿主的适应性不断提高。<br>
                                    基因重组是指不同的流感病毒亚型之间，在宿主细胞中进行基因片段的交换，从而产生新的亚型或变异株。这种重配现象经常发生在流感病毒亚型之间，尤其是当不同的亚型同时感染同一只宿主时。这种变异也为病毒进化提供了一种快速而有效的方式。<br>
                                    总的来说，如同其他流感病毒一样，H10N8流感病毒的进化模式也是动态的、复杂的，在不断地演化和进化过程中不断适应宿主环境。因此，对于这种变异的流感病毒，人们需要积极采取措施，在公共卫生保护方面进行有效的预防和控制。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}