{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H1N1病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h1n1.jpg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                H1N1是一种流感病毒，属于A型流感病毒的亚型之一。H1N1流感病毒是人类最常感染的流感病毒之一，其中一些亚型可以引起大流行，如1918年的西班牙流感、1977年的俄罗斯流感和2009年的H1N1流感大流行。 H1N1流感通常会导致发热、咳嗽、嗓子痛、肌肉和头痛等症状，严重情况下甚至可引发肺炎或死亡。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    由于H1N1受到的免疫压力较大，8个基因片段的氨基酸变化不断积累，其抗原变异明显。在孤立的地理环境中，H1N1却可持续存在并保持相对的遗传稳定性。<br>
                                    猪作为流感病毒的“混合器”，在流感病毒跨种属障碍而感染新宿主的过程中起着重要的作用。由于猪上皮细胞具有唾液酸2,6-半乳糖苷和唾液酸2,3-半乳糖苷，人流感病毒可与前者结合，而禽流感病毒与后者结合，因此，猪上皮细胞就能够被人流感病毒和禽流感病毒感染，而成为毒株间基因重组的活载体。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H1N1的进化模式可以分为自然进化和人为选择两种。<br>
                                    自然进化是指H1N1病毒在自然环境中逐渐进化而来，像其他病毒一样，H1N1病毒的进化是由随机突变和基因重组所驱动的。随机突变是指病毒基因发生错误复制、拼凑错误等突变，基因重组则是指不同病毒株之间的基因交换。这两种进化方式会导致H1N1病毒的遗传信息发生改变，从而使其变得更加适应环境和宿主，形成新的毒株。<br>
                                    人为选择是指人类在处理H1N1病毒时选择出能够适应环境和宿主的毒株，并加以培育和繁殖。人为选择可以通过疫苗和药物的生产、反应堆育种等方式来实现。这种选择会促进H1N1病毒的进化，使其对疫苗和药物产生抗性。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H1N1流感病毒是一种能够在人间和动物间传播的病毒，其流行趋势受到多种因素的影响。<br>
                                    首先，季节因素是影响H1N1流感病毒流行的重要因素。一般来说，H1N1流感病毒会在秋冬季节流行，而在春夏季节流行的机会较少。<br>
                                    其次，区域因素也会影响H1N1流感病毒的流行趋势。传染病的传播受到人口密度、人口流动、卫生条件等因素的影响，因此不同地区H1N1流感病毒的流行情况也有所不同。<br>
                                    另外，抗病毒药物、疫苗和公共卫生措施的推广和使用也会影响H1N1流感病毒的流行。在疫苗和药物得到广泛使用并且公共卫生措施得到有效部署的地区，H1N1流感病毒的传播和流行可以被有效控制。<br>
                                    最后，H1N1流感病毒的进自从2009年爆发全球流感大流行以来，H1N1流感病毒已经成为一种经常性的季节性流感病毒。根据世界卫生组织和各国疾病控制中心的监测数据，以下是H1N1流感病毒的流行趋势：<br>
                                    季节性流行：H1N1流感病毒通常在秋冬季节流行，但有时也会在其他季节爆发，例如2018年夏季澳大利亚的爆发。<br>
                                    局部爆发：H1N1流感病毒在某些地区可能会发生局部爆发，例如在学校、办公室等封闭环境中易于传播。<br>
                                    病毒变异：尽管H1N1流感病毒已进入季节性流行阶段，但其仍然具有变异的风险。流感病毒的突变和重组可能导致新毒株的产生，从而使H1N1流感病毒变得更加具有威胁性。<br>
                                    难以预测：由于病毒变异和重组的不确定性，预测H1N1流感病毒的流行趋势始终是一项挑战性工作。不过，通过建立流感监测系统和加强疫苗研发等措施可以更好地预防和控制H1N1流感病毒的流行。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}