{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H3N2病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h3n2.jpg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    流感病毒是一个高度变异的病毒，每年都会发生变异。H3N2是流感病毒A型的亚型之一，其外层膜蛋白（HA和NA）是病毒的主要抗原。由于这些抗原是病毒侵入宿主细胞所必需的，因此它们也是制作流感疫苗的关键成分。然而，由于H3N2的外层膜蛋白容易发生变异，因此病毒会逐渐变得免疫原性不同，导致疫苗失效。具体而言，H3N2的变异主要分为两种类型：抗原漂移（antigenic
                                    drift）和抗原转移（antigenic shift）。<br>
                                    抗原漂移是指病毒在自然界中经常发生的小规模变异，这些变异会导致病毒的外层膜蛋白发生小的改变，从而使疫苗对新的病毒株的免疫保护效果降低。抗原漂移在流感病毒的进化中是一种常见的现象，每年都会发生。<br>
                                    抗原转移则是指两种不同的流感病毒亚型发生基因重组，导致产生新的病毒株。由于人类对这些新株没有免疫保护，因此抗原转移往往会导致大规模的流感疫情。虽然抗原转移比较罕见，但它们会对人类健康造成重大威胁。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H3N2病毒的进化模式是一个复杂的过程。在H3N2病毒的演化过程中，有三种进化模式：点突变、基因重排和基因转移。点突变是最常见的进化模式，它在病毒的基因组中发生单个碱基的变化。基因重排则是指两种或两种以上的流感病毒在同一宿主中感染，导致它们的基因重组。基因转移是指来自其他病毒或宿主的基因被插入到H3N2病毒的基因组中。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H3N2病毒的进化模式是一个复杂的过程。在H3N2病毒的演化过程中，有三种进化模式：点突变、基因重排和基因转移。点突变是最常见的进化模式，它在病毒的基因组中发生单个碱基的变化。基因重排则是指两种或两种以上的流感病毒在同一宿主中感染，导致它们的基因重组。基因转移是指来自其他病毒或宿主的基因被插入到H3N2病毒的基因组中。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    在流行趋势方面，H3N2病毒的流行主要集中在冬季和早春季节，通常在人口密集的城市和地区传播最为广泛。此外，H3N2病毒的流行程度和疾病严重程度可能因年龄、性别、健康状况、季节和地理位置等因素而有所不同。因此，在预防和控制H3N2病毒的传播方面，需要采取针对不同人群和地区的不同策略。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}