{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H5N1病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h5n1.jpg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H5N1流感病毒是一种高致病性禽流感病毒亚型，属于流感病毒A型。它最初于1997年在香港的家禽中首次发现，随后传播到人类。H5N1病毒引起了全球关注，因为它对人类具有高度致病性，并且可能引发严重的流感疫情。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H5N1流感病毒的变异情况相对较少，但已经发现了一些不同的病毒亚型和亚种。这些变异主要是由于病毒基因的突变和重组所引起的。H5N1病毒的外层膜蛋白（HA和NA）是病毒的主要抗原，也是制作疫苗的关键成分。由于H5N1的外层膜蛋白相对稳定，使得疫苗对不同亚型的病毒仍然有效。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                H5N1病毒的进化模式与其他流感病毒相似。它主要通过点突变和基因重排进行进化。点突变是指病毒基因组中的单个碱基发生变化，这种变异形式在流感病毒的进化中很常见。基因重排则是指两种或两种以上的流感病毒在同一宿主中感染，导致它们的基因重新组合，形成新的病毒株。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H5N1病毒主要在禽类中传播，尤其是家禽。人类通常通过与感染禽类的密切接触而感染H5N1病毒，人与人之间的传播相对较少。然而，H5N1病毒对人类的感染具有高致病性和致死率，引发了公共卫生的关注。目前，H5N1病毒在人群中并没有广泛传播，但仍然需要密切监测和采取措施来防止其扩散和演变成更具传染性的病毒株。预防和控制H5N1流感病毒的传播需要加强禽类监测和管控措施，以及提高公众的认知和健康教育水平。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}