{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H7N9病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h7n9.jpeg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H7N7禽流感病毒甲型禽流感的一种亚型。目前在我国发现的H7N7禽流感病毒对禽类不致病，但对人类具有高致病性。目前发现的新型H7N7普遍存在家禽街巿内，且主要来自鸡只，病毒与H7N9十分相似，因病毒8条基因中、有7条与H7N9相似，当中的6条，与H7N9同样来自H7N2病毒。H7N7损害上、下呼吸系统，潜服期约10天，第三天患者可出现病症。但H7N7病毒的毒性浓度高，对下呼吸道的破坏最为严重，肺炎的程度较严重。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H7N7病毒是H7N3及H11N9等野生欧亚水禽病毒的杂交病毒株。研究人员推测，病毒先在家鸭体内交换了基因，然后传播到鸡，在后者体内又与一种常见的鸡病毒H9N2交换了基因，从而生成了H7N9和H7N7两种流感病毒。目前各地区有关H7N7变异情况的报道较少，但可以确定的是，H7N7同H7N9病毒一样会通过抗原漂移与抗原转化进行变异。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                H7N7禽流感病毒本身是H7N7 是 H7N3 及 H11N9 等野生欧亚水禽病毒的杂交病毒株。H7N7禽流感病毒本身很容易在亚洲家禽市场内不断地混合及交换遗传物质，即发生遗传物质重组。通过分析H7N9病毒的进化史，也可以得出H7N7病毒主要通过遗传物质重组来增加对人的感染能力的结论。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                1976年，在澳大利亚，H7N7第一次被发现，当时只感染了鸡。之前出现的H7N7禽流感病毒主要感染家禽，但2003年2月底至5月荷兰发生了H7N7禽流感致人患病的疫情。现中国无人感染H7N7禽流感的病例，也无导致禽类致病的疫情出现。 但从区域性来看，在山东发现了H7N9病毒，在浙江发现了H7N7新病毒。这种杂交也提高了这些病毒在鸡群中传播的能力，也就是说，引发今春流感的病毒来自禽类，而且很多禽类既携带H7N7病毒也携带H7N9病毒，只是由于H7N9病毒引发了人的感染，而H7N7病毒没有引发人感染疾病，人们才只关注前者而不知道后者。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}