{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H7N9病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h7n9.jpeg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                H7N9是禽流感的一种亚型，属于正黏病毒科A型流感病毒。H7N9是一种人禽共患病毒，源于三种病毒株在同一感染宿主中的交换与重组；但病毒出现基因经过基因交换，令病毒开始适应人类或体温与人类相近的动物而繁殖。H7N9禽流感病毒传染源推测为携带H7N9禽流感病毒的禽类及其分泌物或排泄物，传播途径推测为经呼吸道传播、密切接触感染的禽类及其分泌物或排泄物、直接接触病毒或经受病毒污染的水而感染，人感染后会出发烧、呕吐等症状，严重的可导致肺炎或重症死亡。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                H7N9病毒对禽类无致病力，但此病毒侵入人体发生突变后，对哺乳动物的致病力与水平传播能力得到明显增强。H7N9的主要变异位点为HA与NA，目前出现了在血凝素基因裂解位点（HA）发生变异的病株，表现出双受体结合特性（既能结合禽源受体，又能结合人源受体）。H7N9病毒在遗传特性、生物学特征、感染致病特性上存在多样性；目前H7N9病毒感染人的能力没有增强，公共卫生风险等级没有增大，但要增强监测警惕病毒的进一步变异。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                到目前为止，H7亚型与受体结合的关键分子基础尚未被完全阐明，各个氨基酸在其中所起的作用以及病毒获得人源受体结合特性的演化过程也仍不清楚。遗传进化速率和多样性分析表明,与外部基因相比，H7N9病毒内部基因的多样性更明显但进化速率却更低，表明H7N9的重配较多。同时，自第5波以来,H7N9抗原位点或受体结合位点出现了一些氨基酸突变,并影响到了抗原性和受体结合特性；第7波中，病毒的抗原性出现了明显的抗原漂移。高福院士团队的研究表明，186位氨基酸是决定H7N9 HA获得人源受体结合能力的关键位点。复杂的重配模式和适应性突变共同塑造了 H7N9病毒的流行和进化。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                目前的研究表明，与人感染H7N9禽流感病毒风险增加相关的MX1基因变异频率小于0.5% ，为稀有变异。相同暴露条件下，只有一小部分人会感染H7N9禽流感病毒，导致H7N9流感大流行的风险较低；H7N9病例均为散发，没成为流行趋势。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}