{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}分析{% endblock %}

{% block body %}

    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text p-4 p-md-5">
                            <h2 class="fw-bold text mb-3">这是一种H9N2病毒</h2>
                            <p>Accuracy(R) = {{ r }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img
                                class="w-100 h-100 fit-cover"
                                src="{{ url_for('static', filename='assets/img/h9n2.jpeg') }}" alt=""/></div>
                </div>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    流感病毒介绍
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H9N2型禽流感是由正黏病毒科、流感病毒属A型流感病毒，由单股负链RNA组成，其基因组由8 股RNA 节段构成，分别编码不同蛋白。H9N2型禽流感病毒基因极易发生变异，对光热敏感，但患者感染H9N2后病情往往较温和或没有临床症状，关于感染造成死亡的报告非常少。
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    病毒变异情况
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H9N2亚型禽流感分为北美系和欧亚系两大遗传分支。根据HA序列，将其分为h9.1~h9.4共4个主干进化分支。当前，我国流行的主要为h9.4.2.5 为主。NA序列欧亚谱系中G1和Y280为主要流行分支。整体而言，主要为中国的H9N2亚型禽流感病毒发生抗原漂移并进化成不同的抗原群；同时中国、日本、俄罗斯和越南分离的NA基因存在不同程度的突变，存在从中国迁移至东南亚的迁移路线。研究显示，全球2014年～2018年H9N2病毒NA基因酶活性位点相对稳定,但茎部区域存在缺失,抗原位点、唾液酸结合位点、糖基化位点存在不同程度的变异。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    流感病毒进化模式
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    H9N2的进化模式具有区域性进化的特点。这表明H9N2亚型禽流感病毒在进化过程中衍生出了拥有独立进化过程，传播特定地理区域。H9N2进化过程中以蛋白关键受体结合位点、裂解位点、糖基化位点的氨基酸突变为主，不存在协同进化模式。同时其蛋白受体结合位点趋于结合人类受体，对哺乳动物的适应性增加，HA蛋白裂解位点和糖基化位点有向高致病性序列特征突变的倾向。
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    流感病毒流行趋势
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    当前我国禽流感病毒流行形式中H9N2亚型已取代H5N6和H7N9成为鸡和鸭群中的优势病毒亚型，但在人身上比较罕见且症状较为温和。H7N9亚型禽流感在我国的流行趋势还有因症状温和会出现免疫鸡群中发生从而掩盖了禽流感的流行；以及传染谱扩大的特点。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>

{% endblock %}