{% extends 'base.html' %}

{% block title %}上传您的数据{% endblock %}
{% block head %}{% endblock %}

{% block body %}
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <h1 class="fw-bold mb-4">上传您的基因序列，我们会为您进行分析</h1>
                <form action="" method=post enctype=multipart/form-data>
                    <div class="mb-3">
                        <label for="text" class="form-label">输入病毒数据</label>
                        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">上传</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <h3>样例</h3>
                    <p>您应该输入1775个病毒数据，用半角逗号分割。</p>
                    <p>例如：</p>
                    <img src="{{ url_for('static', filename='assets/img/upload_example.png') }}" alt="example"
                         style="max-width: 100%; height: auto">
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery.3.5.1.min.js') }}"></script>

{% endblock %}